.form-list{
    text-align: -webkit-center;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

.panel-heading {
    text-align: left;
}

.fas {
    color: white;;
}

.btn:hover .fas {
    color: black;
}